@*Recebendo uma lista de clientes, a view foi criada selecionado o "list" 
para já receber o modelo em formato de lista. O controller irá passar uma lista na Action Index*@
@model IEnumerable<LojaWeb.Models.ClienteViewModel>

@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="float-left align-middle">
        <h1>Todos os clientes</h1>
    </div>

    <div class="float-right align-text-bottom">
        <a class="btn btn-primary" asp-action="Create">Criar Cliente</a>
    </div>
</div>

@*Chamando a partial view*@
<partial name="_MensagensPartial"/>

@*utilizando datables.net na tabela html*@
<table class="table" id="minha-tabela">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Detailhes", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Deletar", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

@*dentro dessa tag, faz o script aguardar o carregamento dos scripts em ordem
  para depois carregar este trecho aqui*@
@section Scripts{

@*chamando script do datatables.net*@
<script>
    // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function () {
		$('#minha-tabela').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json"
            }
        });
	});
</script>
}
